interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://npiregistry.cms.hhs.gov/api/?version=2.1&organization_name=H2+Health
  response:
    body:
      string: '{"result_count":10,"results":[{"addresses":[{"address_1":"PO BOX 932184","address_purpose":"MAILING","address_type":"DOM","city":"ATLANTA","country_code":"US","country_name":"United
        States","postal_code":"311934912","state":"GA"},{"address_1":"8220 NATURES
        WAY APT 201","address_purpose":"LOCATION","address_type":"DOM","city":"LAKEWOOD
        RANCH","country_code":"US","country_name":"United States","fax_number":"904-757-9675","postal_code":"342024208","state":"FL","telephone_number":"800-699-9395"}],"basic":{"authorized_official_first_name":"AMANDA","authorized_official_last_name":"STREETER","authorized_official_name_prefix":"--","authorized_official_name_suffix":"--","authorized_official_telephone_number":"8006999395","authorized_official_title_or_position":"Chief
        Administrative Officer","certification_date":"2025-09-11","enumeration_date":"2022-01-24","last_updated":"2025-09-11","organization_name":"BURKE
        COLLINS THERAPY, INC","organizational_subpart":"NO","status":"A"},"created_epoch":"1643065707000","endpoints":[],"enumeration_type":"NPI-2","identifiers":[],"last_updated_epoch":"1757602124000","number":"1275285926","other_names":[{"code":"3","organization_name":"H2
        HEALTH","type":"Doing Business As"},{"code":"4","organization_name":"H2 REHABILITATION
        SERVICES OF FLORIDA LLC","type":"Former Legal Business Name"}],"practiceLocations":[],"taxonomies":[{"code":"261QR0400X","desc":"Clinic/Center,
        Rehabilitation","license":null,"primary":true,"state":null,"taxonomy_group":""}]},{"addresses":[{"address_1":"PO
        BOX 932184","address_purpose":"MAILING","address_type":"DOM","city":"ATLANTA","country_code":"US","country_name":"United
        States","postal_code":"311932184","state":"GA"},{"address_1":"8230 NATURES
        WAY STE 143","address_purpose":"LOCATION","address_type":"DOM","city":"LAKEWOOD
        RANCH","country_code":"US","country_name":"United States","postal_code":"342024204","state":"FL","telephone_number":"800-699-9395"}],"basic":{"authorized_o[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://npiregistry.cms.hhs.gov/api/?version=2.1&organization_name=H2+Health&state=NH
  response:
    body:
      string: '{"result_count":0,"results":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: ''
    headers:
    method: GET
    uri: https://npiregistry.cms.hhs.gov/api/?version=2.1&organization_name=H2+Health&state=NY
  response:
    body:
      string: '{"result_count":0,"results":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: ''
    headers:
    method: GET
    uri: https://npiregistry.cms.hhs.gov/api/?version=2.1&organization_name=H2+Health&state=FL
  response:
    body:
      string: '{"result_count":10,"results":[{"addresses":[{"address_1":"PO BOX 932184","address_purpose":"MAILING","address_type":"DOM","city":"ATLANTA","country_code":"US","country_name":"United
        States","postal_code":"311934912","state":"GA"},{"address_1":"8220 NATURES
        WAY APT 201","address_purpose":"LOCATION",[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://npiregistry.cms.hhs.gov/api/?version=2.1&organization_name=H2&state=FL
  response:
    body:
      string: '{"result_count":0,"results":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: ''
    headers:
    method: GET
    uri: https://npiregistry.cms.hhs.gov/api/?version=2.1&organization_name=H2+REHABILITATION+SERVICES+OF+VA&state=VA
  response:
    body:
      string: '{"result_count":1,"results":[{"addresses":[{"address_1":"1113 CARROLLTON
        PIKE","address_purpose":"LOCATION","address_type":"DOM","city":"HILLSVILLE","country_code":"US","country_name":"United
        States","fax_number":"276-728-0755","postal_code":"243433891","state":"VA","telephon[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://npiregistry.cms.hhs.gov/api/?version=2.1&limit=3&skip=0&organization_name=H2+REHABILITATION+SERVICES+OF+VA&state=VA
  response:
    body:
      string: '{"result_count":1,"results":[{"addresses":[{"address_1":"1113 CARROLLTON
        PIKE","address_purpose":"LOCATION","address_type":"DOM","city":"HILLSVILLE","country_code":"US","country_name":"United
        States","fax_number":"276-728-0755","postal_code":"243433891","state"[...]
