interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://npiregistry.cms.hhs.gov/api/?version=2.1&first_name=JONATHON&last_name=LEE&state=OR
  response:
    body:
      string: '{"result_count":1,"results":[{"addresses":[{"address_1":"790 REMINGTON
        BLVD","address_purpose":"MAILING","address_type":"DOM","city":"BOLINGBROOK","country_code":"US","country_name":"United
        States","fax_number":"630-759-9510","postal_code":"604404909","state":"IL","telephone_number":"630-296-2223"},{"address_1":"2500
        NW 229TH AVE BLDG E","address_2":"SUITE 200","address_purpose":"LOCATION","address_type":"DOM","city":"HILLSBORO","country_code":"US","country_name":"United
        States","fax_number":"503-336-0464","postal_code":"971247516","state":"OR","telephone_number":"503-395-3000"}],"basic":{"credential":"PT","enumeration_date":"2015-12-22","first_name":"JONATHON","last_name":"LEE","last_updated":"2016-07-21","name_prefix":"Dr.","name_suffix":"--","sex":"M","sole_proprietor":"NO","status":"A"},"created_epoch":"1450800423000","endpoints":[],"enumeration_type":"NPI-1","identifiers":[],"last_updated_epoch":"1469131952000","number":"1114382983","other_names":[],"practiceLocations":[],"taxonomies":[{"code":"225100000X","desc":"Physical
        Therapist","license":"1247892","primary":false,"state":"TX","taxonomy_group":""},{"code":"225100000X","desc":"Physical
        Therapist","license":"61620","primary":true,"state":"OR","taxonomy_group":""}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: ''
    headers:
    method: GET
    uri: https://npiregistry.cms.hhs.gov/api/?version=2.1&limit=2&skip=0&first_name=JONATHON&last_name=LEE&state=OR
  response:
    body:
      string: '{"result_count":1,"results":[{"addresses":[{"address_1":"790 REMINGTON
        BLVD","address_purpose":"MAILING","address_type":"DOM","city":"BOLINGBROOK","country_code":"US","country_name":"United
        States","fax_number":"630-759-9510","postal_code":"604404909","state":"IL","telephone_nu[...]
