interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://npiregistry.cms.hhs.gov/api/?version=2.1&limit=3&skip=0&organization_name=H2+REHABILITATION+SERVICES+OF+VA&state=VA
  response:
    body:
      string: '{"result_count":1,"results":[{"addresses":[{"address_1":"1113 CARROLLTON
        PIKE","address_purpose":"LOCATION","address_type":"DOM","city":"HILLSVILLE","country_code":"US","country_name":"United
        States","fax_number":"276-728-0755","postal_code":"243433891","state":"VA","telephone_number":"276-728-0700"},{"address_1":"PO
        BOX 932184","address_purpose":"MAILING","address_type":"DOM","city":"ATLANTA","country_code":"US","country_name":"United
        States","postal_code":"311932184","state":"GA"}],"basic":{"authorized_official_first_name":"AMANDA","authorized_official_last_name":"STREETER","authorized_official_telephone_number":"8006999395","authorized_official_title_or_position":"Vice
        President","certification_date":"2023-11-24","enumeration_date":"2007-02-07","last_updated":"2023-11-24","organization_name":"H2
        REHABILITATION SERVICES OF VIRGINIA, LLC","organizational_subpart":"NO","status":"A"},"created_epoch":"1170877345000","endpoints":[],"enumeration_type":"NPI-2","identifiers":[],"last_updated_epoch":"1700882495000","number":"1508906702","other_names":[{"code":"5","organization_name":"H2
        REHABILITATION SERVICES OF VA","type":"Other Name"},{"code":"3","organization_name":"H2
        HEALTH","type":"Doing Business As"}],"practiceLocations":[],"taxonomies":[{"code":"225100000X","desc":"Physical
        Therapist","license":null,"primary":false,"state":null,"taxonomy_group":"193400000X
        - Multiple Single Specialty Group"},{"code":"225X00000X","desc":"Occupational
        Therapist","license":null,"primary":false,"state":null,"taxonomy_group":"193400000X
        - Multiple Single Specialty Group"},{"code":"261QR0400X","desc":"Clinic/Center,
        Rehabilitation","license":null,"primary":true,"state":null,"taxonomy_group":""}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
